* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.icons {
  height: 30px;
}

body {
  background: url(./assets/retro-living-room-interior-design.jpg);
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

/* //////////////////////////// */
/* navbar section */
/* //////////////////////////// */

.navbar {
  height: 15vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}

.nav-menu {
  display: flex;
  border-bottom: 2px solid #fff;
}

.nav-list {
  list-style: none;
  width: max-content;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-right: 25px;
}

.list-item {
  margin: 0 80px;
}

.nav-info {
  width: 170px;
  margin-left: 24px;
  position: relative;
}

.nav-info img {
  margin-left: -35px;
}

.nav-info span {
  position: absolute;
  top: -10px;
  margin-left: 10px;
}

.ham-menu {
  display: none;
}

/* //////////////////////////// */
/* hero section */
/* //////////////////////////// */

.hero {
  padding: 70px;
  height: 85vh;
  display: flex;
}

.left-section {
  width: 700px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section > h1 {
  font-size: 66px;
  font-weight: 600;
}

.left-section > .hero-button {
  font-size: 22px;
  width: 250px;
  padding: 10px 15px;
  margin-top: 40px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 35px;
}

/* ////////////////////////// */
/* hero right section */
/* ////////////////////////// */

.right-section {
  position: relative;
  margin-left: 250px;
}

.topRight-container {
  width: 300px;
  height: 150px;
  background: rgb(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  position: absolute;
  top: 40px;
  left: 180px;
}

.topRight-container span {
  margin-top: 12px;
}

.bottomRight-container {
  width: 300px;
  height: 150px;
  background: rgb(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  position: absolute;
  bottom: 170px;
  left: -70px;
}

.topRight-line {
  height: 70px;
  width: 0;
  border: 1px solid #fff;
  position: absolute;
  left: 400px;
  top: 190px;
}

.topRight-circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: none;
  border: 7px solid #fff;
  background-color: #fff;
  position: absolute;
  left: 395px;
  top: 260px;
}

.bottomRight-line {
  height: 0;
  width: 70px;
  border: 1px solid #fff;
  position: absolute;
  left: 230px;
  bottom: 250px;
}

.bottomRight-circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: none;
  border: 7px solid #fff;
  background-color: #fff;
  position: absolute;
  left: 300px;
  bottom: 245px;
}

/* ////////////////////////////// */

@media (max-width: 640px) {
  .navbar {
    height: 10vh;
  }

  nav {
    padding: 20px;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }

  .ham-menu {
    display: block;
    width: 30px;
  }

  .nav-logo img {
    width: 80px;
  }

  /* Hero-section */

  .hero {
    padding: 20px;
    flex-direction: column;
  }

  .left-section {
    width: 400px;
    margin-top: 20px;
  }

  .left-section > h1 {
    font-size: 32px;
    width: 400px;
    text-align: center;
  }

  .left-section > .hero-button {
    width: 150px;
    font-size: 18px;
  }

  .right-section {
    position: unset;
  }

  .topRight-container {
    top: 400px;
    left: 90px;
  }

  .topRight-line {
    top: 550px;
    left: 350px;
  }

  .topRight-circle {
    top: 620px;
    left: 345px;
  }

  .bottomRight-container {
    bottom: 100px;
    left: 20px;
  }

  .bottomRight-line {
    bottom: 200px;
    left: 320px;
  }

  .bottomRight-circle {
    bottom: 195px;
    left: 380px;
  }
}

/* /////////////////// */

@media (min-width: 640px) and (max-width: 900px) {
  .navbar {
    height: 10vh;
  }

  nav {
    padding: 20px;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }

  .ham-menu {
    display: block;
    width: 30px;
  }

  .nav-logo img {
    width: 80px;
  }

  /* Hero-section */

  .hero {
    padding: 20px;
    flex-direction: column;
  }

  .left-section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .left-section > h1 {
    font-size: 42px;
    width: 600px;
    text-align: center;
  }

  .left-section > .hero-button {
    width: 150px;
    font-size: 18px;
  }

  .right-section {
    position: unset;
  }

  .topRight-container {
    top: 400px;
    left: 350px;
  }

  .topRight-line {
    top: 550px;
    left: 600px;
  }

  .topRight-circle {
    top: 620px;
    left: 595px;
  }

  .bottomRight-container {
    bottom: 200px;
    left: 150px;
  }

  .bottomRight-line {
    bottom: 300px;
    left: 450px;
  }

  .bottomRight-circle {
    bottom: 295px;
    left: 510px;
  }
}

/* /////////////////////// */

@media (min-width: 900px) and (max-width: 1200px) {
  .navbar {
    height: 10vh;
  }

  nav {
    padding: 20px;
    align-items: center;
  }

  .nav-list {
    font-size: 16px;
    margin-right: 14px;
  }

  .list-item {
    margin: 0 24px;
  }

  .nav-logo img {
    width: 80px;
  }

  /* Hero-section */

  .hero {
    padding: 20px;
    flex-direction: column;
  }

  .left-section {
    width: 100%;
    margin-top: 20px;
  }

  .left-section > h1 {
    font-size: 46px;
    width: 600px;
    text-align: center;
  }

  .left-section > .hero-button {
    width: 150px;
    font-size: 18px;
  }

  .right-section {
    position: unset;
  }

  .topRight-container {
    top: 400px;
    left: 600px;
  }

  .topRight-line {
    top: 550px;
    left: 850px;
  }

  .topRight-circle {
    top: 620px;
    left: 845px;
  }

  .bottomRight-container {
    bottom: 200px;
    left: 300px;
  }

  .bottomRight-line {
    bottom: 300px;
    left: 600px;
  }

  .bottomRight-circle {
    bottom: 295px;
    left: 670px;
  }
}

/* ///////// */

@media (min-width: 1200px) and (max-width: 1500px) {
  .list-item {
    margin: 0 20px;
  }

  .left-section {
    width: 500px;
  }

  .left-section > h1 {
    font-size: 48px;
  }

  /*  */

  .right-section {
    position: unset;
  }

  .topRight-container {
    top: 200px;
    left: 800px;
  }

  .topRight-line {
    top: 350px;
    left: 1050px;
  }

  .topRight-circle {
    top: 420px;
    left: 1045px;
  }

  .bottomRight-container {
    bottom: 250px;
    left: 600px;
  }

  .bottomRight-line {
    bottom: 350px;
    left: 900px;
  }

  .bottomRight-circle {
    bottom: 345px;
    left: 970px;
  }
}
